.wall-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.wall-frame::-webkit-scrollbar{
    width: 0px !important;
}

.brick-set{
    display: flex;
    flex-flow: column wrap;
}