body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
}

.header {
  border: solid 2px blue;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.content{
  border: solid 2px green;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.ret {
  position: absolute;
  top: 50%;
  left: 50%;
}