.brick {
    position: relative;
}

.wall-over-layer, .wall-main-layer, .wall-base-layer {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    
    position: absolute;
}

.wall-over-layer {
    z-index: 1;
}

.wall-main-layer {
    z-index: 0;
}

.wall-base-layer {
    border: 1px solid lightgray;
    z-index: -1;
}